{{!-- <p>{{ req.body.name }}</p> --}}
{{!-- <p>{{ req.query.name }}</p> --}}
<p>Name  : {{ quote.name }}</p>
<p>Email  : {{ quote.email }}</p>
<p>Phone No.  : {{ quote.mobnum }}</p>
<p>Password  : {{ quote.password }}</p>
{{!-- <p>{{ variable }}</p> --}}
{{!-- <p>out</p> --}}